# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Production
build

# Misc
.env
.env.test
.env.production
.cache
.parcel-cache
.eslint
.eslintcache

# Optional: if you want to ignore the lock file (some prefer to commit it)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
